body
{
	font-family: Arial;
	font-size: 10pt;
}

.headerTable
{
	width: 100%;
}

.newGameCell
{
	text-align:right;
	width:80%;
	padding-right: 10px;
}

.sameModeText
{
	font-weight:bold;
}

.accessKey {
	text-decoration: underline;
}

.board
{
	text-align:center;
	background-color: cyan;
}